# Directorio de compilación
/build/

# Archivos de compilación de C/C++
*.o
*.so
*.dll
*.a
*.lib

# Archivos de Python
__pycache__/
*.pyc

# Entornos virtuales de Python
/api/venv/

/resources/secrets.json
backups
core/.vs/
simulator_ui/.*
simulator_ui/android
simulator_ui/build
simulator_ui/ios
simulator_ui/linux
simulator_ui/macos
simulator_ui/windows
simulator_ui/web

docs/~$Tema 2 - Monociclo.pptx
api/simulator.log
simulator_ui/lib.7z
screenshot.png
simulator_ui/build.7z
simulator_ui/pubspec.lock
/gitignore/
riscv.7z
ffi_wrapper.py
/.vs
/out
simulator.log
simulator.log
tests/generator.py
